/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/home.blade.backup.php
resources/views/menus/create.blade.backup2.php
index.html
env
